name: release-obsidian-plugin

permissions:
  contents: write
  packages: write

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: release
    uses: tenfyzhong/workflows/.github/workflows/release-obisidian-plugin.yml@main
